<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>chatDa</title>
</head>

<body>
<h2>ChatDa</h2>

<div id="chat-box">
  <div id="chat-log">
    <div style="padding:4px"></div>
  </div>

  <div id="chat-form-wrapper">
    <form id="chat-form" onsubmit="return false;">
      <input id="chat-input" type="text">
      <button id="chat-btn">send</button>
    </form>
  </div>
</div>

<div style="float:left; margin:20px">
  <button id="end-chat-btn">대화를 마치고 일기 작성하기</button>
</div>
<div style="float:left; margin:20px">
  <button id="delete-btn" onclick="delete_today_data()">오늘 채팅과 일기 삭제하기</button>
</div>
</body>

<script src="js/chat.js" defer></script>

</html>
