<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/writing-style.css">
        <link rel="stylesheet" type="text/css" href="/css/animation.css">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <title>chatDa</title>
    </head>
    <body>
        <button id="temp-btn">switch temp</button>
        <div id="container" class="container">
            <h1>글쓰기 스타일</h1>
            <div id="create-div" class="form-group">
                <p>자유롭게 세 문장의 짧은 글을 작성해주세요.</p>
                <p>일기 작성에 반영하여 내가 쓴 것 같은 일기를 만들어드려요.</p>
                <p>주제는 "새" 입니다.</p>
                <form>
                    <textarea id="short-writing"></textarea>
                    <button id="create-style-btn">제출</button>
                </form>
            </div>
            <div id="check-div" class="form-group">
                <p>나의 글쓰기 스타일은</p>
                <div id="writing-style-content"></div>
            </div>
        </div>
    </div>
</body>
<script src="js/config.js" defer></script>
<script src="js/writing-style.js" defer></script>
<script src="js/navbar.js" defer></script>
</html>
